body {
    background-color: lightpink;
}
#logoheader {
    margin: auto;
    height: 100px;
    width: 280px;
    text-align: center;
    font-family: "Saturday Nights";
}
.container.text-center {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    background-color: white;

}

.imagefood {
    height: 100px;
    width: 100px;
}

h2 {
    font-weight: bold;
    font-family: "Saturday Nights";
    color: blueviolet;
    text-decoration-color: black;
    background-color: #865C6C;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h3 {
    color: #BB6688;
}
.dropdown-toggle {
    font-weight: bold;
}
.dropdown-menu {
    background-color: purple;
}
.row {
    background-image: url("thumb-1920-519509.jpg");
    opacity:0.8;
}

.btn-primary {
    background-color: #BB6688;
    border-color: black;
}
.btn-primary:hover {
    font-weight: bold;
    color: #BB6688;
    border-color: black;
    background-color: white;
}
.pull-right {
    color: #BB6688;
}
.form-control {
    border-color: #BB6688;
}
.pull-left {
    color: #BB6688;
}
.inputcompt{
    width: 80px;
    height: 30px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: black;
    background: red;
    border: none;
    border-radius: 5px;
}
nav.navbar.navbar-default {
    font-weight: bold;
    background-color: #EC008C;
}
.commander {
    float: right;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: deeppink;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    background: white;
    border-color: black;
}
.box{
    font-family: Loma;
    color: darkviolet;
}
#logop {
    background-color: darkred;
}