<template name="boissons">
    <div class="container">
        <div class="row">
            <div class="box col-xs-10 text-center col-sm-6 text-center col-md-4 text-center">
                <div class="content">

                    <h2>BOISSONS</h2>
                    {{#each boissons}}
                    <h3>{{name}}</h3>
                    <h2>{{price}}€</h2>
                    <img class="imagefood" src="/{{image}}">
                    <input class="inputcompteur" name="compteur" type="number" min="0" max="99" value="0">
                    <hr>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</template>