<template name="panier">
    <div class="content">
        <h2>Votre commande</h2>
        <h3>Total de votre commande : {{totalite}}€ </h3>

        <form class="validercommande">
            {{#each panier}}
            <li id="affichage">{{counter}} {{name}} à {{price}}€ = {{total}} €
                <img class="imagefood" src="/{{image}}">
            </li>
            <div class="boutons">
                <p>Modifier la quantité :
                <input class="modif {{_id}}" name="inputcompteur" type="number" min=0 max=7 value={{counter}}>
                </p>
                <p>Supprimer
                    <input class="remove" name="supprimer" type="submit" value="ok">
                </p>

                <a class="envoyer" href=""><input type="submit" name="valider" value="valider la commande"></a>
            </div>
            {{/each}}
            <p>Total = {{totalite}}</p>
            <!--<input class="commander" type="submit" name="commander" value="valider la commande">-->
            <a class="retour" href="{{pathFor 'categorie'}}">
        <!--<input type="submit" name="accueil" value="Accueil">-->
            </a>
        </form>
    </div>
</template>