<template name="panier">
    <div class="content_panier">
        <h3>Total de votre commande : {{totalite}}€ </h3>
        <form class="validercommande">
            {{#each panier}}
            <span>
                {{counter}} {{name}} à {{price}}€ = {{total}} €
                <img class="imagefood" src="/{{image}}">
            </span>
            <div class="boutons">
                <p>Modifier la quantité :
                    <input class="modif {{_id}}" name="inputcompteur" type="number" min=0 max=7 value={{counter}}>
                </p>
                <p>Supprimer
                    <input class="remove" name="supprimer" type="submit" value="ok">
                </p>
                <hr>
            </div>
            {{/each}}

            <div class="return">
                <a class="retour" href="{{pathFor 'categorie'}}">
                    <input type="submit" name="accueil" value="Retour">
                </a>
            </div>

            <div class="validation">
            {{#if currentUser}}
                <a class="user" href="{{pathFor 'users'}}">
                    <input class="commander" type="submit" name="commander" value="Valider la commande">
                </a>
            {{else}}
            <h3>Veuillez vous connecter!</h3>
                <a class="valid" href="{{pathFor 'categorie'}}">
                    <input type="submit" name="accueil" value="Se Connecter">
                </a>
            {{/if}}
        </div>
        </form>
    </div>
</template>