<template name="register">
    <h3> Enregistrement</h3>
    <div class="enregistrement">
        <form class="register">
            <p>Identifiant: <input type="text" name="identifiant"></p>
            <p>Password: <input type="password" name="password"></p>
            <a class="valid" href="{{pathFor 'panier'}}">
                <input type="submit" value="Valider">
            </a>
        </form>
    </div>
</template>



<!--<template name="login">
    <h3> Login </h3>

        <form class="logg">
            <input type="text" name="loginIdentifiant">
            <input type="password" name="loginPassword">
            <input type="submit" value="Login">

          &lt;!&ndash;  <div class="form-group">
                <label class="control-label" for="identifiant">Identifiant</label>
                <div class="controls">
                    <input type="text" name="identifiant" id="identifiant" value=""/>
                </div>
            </div>&ndash;&gt;
    &lt;!&ndash;        <div class="form-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input type="password" name="password" id="password">
                </div>
            </div>&ndash;&gt;

            &lt;!&ndash;essai de validation des identifiants de connexion&ndash;&gt;
            &lt;!&ndash;<a class="valid" href="{{pathFor 'panier'}}">&ndash;&gt;
                &lt;!&ndash;<input type="submit" value="Valider">&ndash;&gt;
            &lt;!&ndash;</a>&ndash;&gt;
        &lt;!&ndash;    <div class="validation">
                {{#if currentUser}}
                <input type="submit" class="enreg" value="test">
                {{else}}
                <h3>Essai</h3>
                <a class="valid" href="{{pathFor 'register'}}">
                    <input type="submit" name="accueil" value="Se Connecter">
                </a>
                {{/if}}
            </div>&ndash;&gt;
        </form>
</template>-->
