<template name="header">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{pathFor 'categorie'}}"><h4>Accueil</h4></a>
        </div>

        <div class="collapse navbar-collapse" id="navigation">
            <span class="nav navbar-nav navbar-right">

                <!--les utilisateurs peuvent maintenant s'inscrire et se connecter à l'appli avec un couple
                email/mot de passe!-->
                <!--<h4>{{> loginButtons}}</h4>-->
            </span>
               <!--  <div class="test">
                     {{#if currentUser}}
                     <p>You're logged in.</p>
                     {{else}}
                     {{> login}}
                     {{/if}}
                 </div>-->
                <!--essai des utilisateurs-->
                <!--{{> LoginModel}}-->
                <!--<div class="test">
                    {{> adminTemplate}}
                </div>-->
                    <h3>{{> loginButtons}}</h3>
                    <a href="/panier">
                        <h4>Votre panier :
                            <img id="logop" src="./TC_Icons_ShoppingCart_PINK.jpg" width="60" height="60"></h4>
                    </a>
        </div>
    </nav>
    <div class="test">
        {{> adminTemplate}}
    </div>
</template>