<template name="header">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{pathFor 'categorie'}}"><h4>Accueil</h4></a>
        </div>

        <div class="collapse navbar-collapse" id="navigation">
            <span class="nav navbar-nav navbar-right">
                <h4>{{> loginButtons}}</h4>
                <a href="/panier"> <img id="logop" src="./TC_Icons_ShoppingCart_PINK.jpg" width="60" height="60">
                    <h4>Votre panier</h4></a>
            </span>
        </div>
    </nav>
</template>
