<template name="layout">
    <form>
        <div class="container">
            {{> logoheader}}
            {{> header}}
            {{> yield}}
            <a class="comd" href="{{pathFor 'paniers'}}">
                <input class="commander" type="submit" name="commander" value="Valider la commande">
            </a>
        </div>
    </form>
</template>
<!--le layout est comme un cadre pour les données, contenant tout le code html qui entoure les templates et qui
ne bougera pas même si le template lui-même est modifié!-->