<template name="layout">
    <form>
        <div class="container">
            {{> logoheader}}
            {{> header}}
            {{> yield}}
            <!--<a class="comd" href="{{pathFor 'panier'}}">
                <input class="commander" type="submit" name="commander" value="Valider">
            </a>-->
        </div>
       <!-- <div class="test">
            {{#if currentUser}}
            <p>Loggé!</p>
            {{else}}
            {{> login}}
            {{/if}}
        </div>-->
    </form>
</template>
<!--le layout est comme un cadre pour les données, contenant tout le code html qui entoure les templates et qui
ne bougera pas même si le template lui-même est modifié!-->